/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 // *= require trix

 @import "bulma";
 @import "functions";
 @import "jobs";
 @import "stripe";

 .notification {
   border-radius: 0;
 }

 .notification:not(:last-child) {
   margin-bottom: 0;
 }

 .hint {
   font-size: small;
 }

 .tag {
   text-transform: uppercase;
   font-weight: bold;
   font-size: 9px !important;
 }
 ---
 app/views/jobs/show.html.erb
 ---
 <p id="notice"><%= notice %></p>

 <p>
   <strong>Title:</strong>
   <%= @job.title %>
 </p>

 <p>
   <strong>Description:</strong>
   <%= @job.description %>
 </p>

 <p>
   <strong>Url:</strong>
   <%= @job.url %>
 </p>

 <p>
   <strong>Job type:</strong>
   <%= @job.job_type %>
 </p>

 <p>
   <strong>Location:</strong>
   <%= @job.location %>
 </p>

 <p>
   <strong>Job author:</strong>
   <%= @job.job_author %>
 </p>

 <p>
   <strong>Remote ok:</strong>
   <%= @job.remote_ok %>
 </p>

 <p>
   <strong>Apply url:</strong>
   <%= @job.apply_url %>
 </p>

 <%= link_to 'Edit', edit_job_path(@job) %> |
 <%= link_to 'Back', jobs_path %>
